%table#woofers
  %thead
    %th model_no
    %th sealed_f3
    %th sealed_volume
    %th high_frequency_limit
    %th rms_power
    %th x_max
  %tbody


= javascript_tag("drivers_table(#{@manufacturers.to_json})")